<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd"
        >


    <beans:bean name="bcryptEncoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>


    <http auto-config="true">
        <intercept-url pattern="/admin/edit/dcm**" access="ROLE_ADMIN" />
        <intercept-url pattern="/admin/edit/conditions**" access="ROLE_ADMIN" />
        <intercept-url pattern="/admin/study/edit**" access="ROLE_ADMIN" />
        <intercept-url pattern="/user**" access="ROLE_ADMIN"/>
        <!--<intercept-url pattern="/service**" access="ROLE_ADMIN"/>-->

        <intercept-url pattern="/resources**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>


        <intercept-url pattern="/login**" access="IS_AUTHENTICATED_ANONYMOUSLY" />

        <form-login
                login-page="/login"
                default-target-url="/user/studies"
                authentication-failure-url="/login?error"
                username-parameter="username"
                password-parameter="password" />
        <logout logout-success-url="/login?logout" />
        <!-- enable csrf protection -->
       <!-- <csrf/>-->
    </http>


    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="sergar16" password="$2a$10$aEgu07OxKKLAKw4fH9kLb.RoGbVkKdRFYW4ZWoMwMkc2qwa2OwwiG" authorities="ROLE_ADMIN" />
                <user name="test" password="$2a$10$I2/4ptghsSpbINz3/AHTZe20fqaNxg.RuP5XHthgzxYwZ1.ALpX96" authorities="ROLE_ADMIN" />
                <user name="javaexpert" password="$2a$10$aEgu07OxKKLAKw4fH9kLb.RoGbVkKdRFYW4ZWoMwMkc2qwa2OwwiG" authorities="ROLE_ADMIN" />
                <user name="root" password="$2a$10$5og8EbGK5wxBjhCR2JwMLeLW6iSkvn/AJWPHImdUVnz.ctF8wzI86" authorities="ROLE_ADMIN" />
            </user-service>

            <password-encoder ref="bcryptEncoder"/>
        </authentication-provider>

    </authentication-manager>



</beans:beans>